<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script>
        function handleCredentialResponse(response) {
            fetch('/accounts/auth/', {
                method: 'POST',
                body: JSON.stringify({ credential: response.credential }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
        }
    </script>
</head>

<body>
    <h1>Sign in</h1>

    <div id="g_id_onload"
         data-client_id="{{ google_client_id }}"
         data-callback="handleCredentialResponse">
    </div>
</body>
</html>